(
  entities: {
    9: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 4.0,
            y: 8.0,
            z: 4.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 4.0,
            y: 8.0,
            z: 4.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        ),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_pbr::light::PointLight": (
          color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          intensity: 1500.0,
          range: 20.0,
          radius: 0.0,
          shadows_enabled: true,
          shadow_depth_bias: 0.02,
          shadow_normal_bias: 0.6,
        ),
        "bevy_pbr::bundle::CubemapVisibleEntities": (),
        "bevy_render::primitives::CubemapFrusta": (),
      },
    ),
    11: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        ),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_core::name::Name": (
          hash: 1433693917323531042,
          name: "Plane",
        ),
        "bevy_asset::handle::Handle<bevy_render::mesh::mesh::Mesh>": (
          id: Id("8ecbac0f-f545-4473-ad43-e1f4243af51e", 13279439286618454261),
        ),
        "bevy_asset::handle::Handle<bevy_pbr::pbr_material::StandardMaterial>": (
          id: Id("7494888b-c082-457b-aacf-517228cc0c22", 1909817486447162624),
        ),
        "bevy_render::primitives::Aabb": (
          center: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          half_extents: (
            x: 2.5,
            y: 0.0,
            z: 2.5,
          ),
        ),
      },
    ),
    12: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.5,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: 0.5,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        ),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_core::name::Name": (
          hash: 8378947908065008808,
          name: "Cube",
        ),
        "bevy_asset::handle::Handle<bevy_render::mesh::mesh::Mesh>": (
          id: Id("8ecbac0f-f545-4473-ad43-e1f4243af51e", 8052455476645278057),
        ),
        "bevy_asset::handle::Handle<bevy_pbr::pbr_material::StandardMaterial>": (
          id: Id("7494888b-c082-457b-aacf-517228cc0c22", 17041279689273607724),
        ),
        "bevy_render::primitives::Aabb": (
          center: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          half_extents: (
            x: 0.5,
            y: 0.5,
            z: 0.5,
          ),
        ),
      },
    ),
  },
)